Basic Practice:
1. Create a classmates dictionary. Their names should be the keys and their favorite food should be the values
2. Print all of the keys
3. Print all of the values
4. Choose three classmates and create a dictionary for each of them. Each dictionary should have the keys: name, birth month, and birth country. Create a list of these dictionaries.

EXAMPLE OUTPUT:
```[{'name': 'Sydney', 'birth_month': 'October', 'birth_country': 'USA'},
 {'name': 'Howard', 'birth_month': 'January', 'birth_country': 'Jamaica'},
 {'name': 'Brandon', 'birth_month': 'June', 'birth_country': 'USA'}]```

5. Print the Birth Month of the second person in your list.

Challenge Practice:
1. Use a for loop to print out a string of where each student is from. Append these strings to a list.

EXAMPLE OUTPUT:
```['Sydney is from USA', 'Howard is from Jamaica', 'Brandon is from USA']```

7. Now we want each student’s name, birth month and birth country to be added to a list. But we want this data to be immutable. Use a for loop to accomplish this!

EXAMPLE OUTPUT:
```[('Sydney', 'October', 'USA'), ('Howard', 'January', 'Jamaica'), ('Brandon', 'June', 'USA')]```

Question:
What are some of the advantages of using a dictionary to store data?
Please like this thread when you are done and reply in the comments your feedback on difficulty level. Remember don't take more than 20-30 minutes to work on this before switching over to learnco!

In [5]:
classmates_food_favourite = {'Princess': 'rice', 'Christian': 'broccoli', 'Garry': 'pancake', 'Patrict': 'sushi', 'Thoa': 'noodle'}

In [8]:
classmates_food_favourite

{'Princess': 'rice',
 'Christian': 'broccoli',
 'Garry': 'pancake',
 'Patrict': 'sushi',
 'Thoa': 'noodle'}

In [11]:
name_list = classmates_food_favourite.keys()
name_list

dict_keys(['Princess', 'Christian', 'Garry', 'Patrict', 'Thoa'])

In [14]:
list(classmates_food_favourite)

['Princess', 'Christian', 'Garry', 'Patrict', 'Thoa']

In [12]:
food_list = classmates_food_favourite.values()
food_list

dict_values(['rice', 'broccoli', 'pancake', 'sushi', 'noodle'])

In [16]:
group_of_three = [{'name': 'Princess', 'birth_month': 'March', 'birth_country': 'Nigeria'}, {'name': 'Christian', 'birth_month': 'January', 'birth_country': 'UK'}, {'name': 'Patrick', 'birth_month': 'August', 'birth_country': 'USA'}]

In [90]:
second_person_info = group_of_three[2]
second_person_month = second_person_info['birth_month']
print(second_person_month)

August

In [99]:
for person in group_of_three:
    friends_month.append(person['birth_month'])
    
friends_month

['March', 'January', 'August', 'March', 'January', 'August']

In [111]:
def get_friends_month(group_of_three):
    friends_month = []
    for person in group_of_three:
        friends_month.append(person['birth_month'])
    return friends_month

In [112]:
get_friends_month(group_of_three)

['March', 'January', 'August']

In [86]:
for person in group_of_three:
    print('{} is from {}'.format(person['name'], person['birth_country']))

Princess is from Nigeria
Christian is from UK
Patrick is from USA

In [106]:
#Now we want each student’s name, birth month and birth country to be added to a list. But we want this data to be immutable. Use a for loop to accomplish this!

# EXAMPLE OUTPUT:
# ```[('Sydney', 'October', 'USA'), ('Howard', 'January', 'Jamaica'), ('Brandon', 'June', 'USA')]```
for person in group_of_three:
    print('{},{},{}'.format(person['name'], person['birth_month'], person['birth_country']))

Princess,March,Nigeria
Christian,January,UK
Patrick,August,USA

In [110]:
for person in group_of_three:
    print(f"({person['name']}, {person['birth_month']}, {person['birth_country']})")

(Princess, March, Nigeria)
(Christian, January, UK)
(Patrick, August, USA)