In [1]:
import pandas as pd
pd.set_option("display.precision", 2)
made_up_jobs_csv=pd.read_csv('made_up_jobs.csv')

In [2]:
made_up_jobs_csv.head()

   ID           Name                       Job  Years Employed
0   0   Bob Bobberty  Underwater Basket Weaver              13
1   1   Susan Smells             Salad Spinner               5
2   2  Alex Lastname      Productivity Manager               2
3   3        Rudy P.                Being cool              55
4   4        Rudy G.  Being compared to Rudy P              50